.addProductForm{
    width: 100%;
    background-color: var(--color-green);
    padding: 10px 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.addProductForm form{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.productTab{
    width: 100%;
    background-color: var(--color-green);
    padding: 10px 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}



.tableContainer {
    width: 85vw;
    max-height: 500px; /* Ajustez la hauteur maximale selon le nombre de lignes que vous souhaitez afficher */
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.productTab {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.theadDB {
    display: table;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tbodyDB {
    display: block;
    max-height: 440px;
    overflow-y: auto;
    width: 100%;
}

.thDB, .tdDB {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.thDB {
    background-color: var(--color-yellow);
    color: black;
    position: sticky;
    top: 0;
}

.trDB {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.trDB:nth-of-type(odd) {
    background-color: var(--color-yellow);
}

.trDB:nth-of-type(even) {
    background-color: #FFE4B5;
}

.buttonDB {
    border: none;
    border-radius: 5px;
    padding: var(--button-padding-small);
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonDB:hover {
    background-color: #E37B00;
}

.thDBModify{
    padding: 10px;
    background-color: var(--color-green);
    text-align: center;
    color: white;
    cursor: pointer;
}