:root{
    --color-green : #075244;
    --color-yellow : #F8AB1C;
    --color-light-yellow : #FEF4D4;
    --button-padding-large : .9375rem 2.875rem;
    --button-padding-regular : .6875rem 2.25rem;
    --button-padding-small : .5rem 1.625rem;
    --title-size: calc(42px / 80 * 55 + 0px);
    --subtitle-size: calc(28px / 60 * 55 + 0px);
    --oswald-font: 'Oswald', sans-serif;
    --text-size : calc(18px / 16 * 70 + 0px);
    --ninite-font: 'Nunito', sans-serif;
    --title-font-weight: 900;
    --subtitle-font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

.widthSite {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.infoClient{
  width: 50%;
}

.table-container {
    width: 100%;
    min-height: 580px;
    max-height: 580px; /* Ajustez en fonction du nombre de lignes souhaitées */
    overflow-y: auto;
    background-color: #FEF4D4;
    border-radius: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  thead th {
    background-color: #F8AB1C;
    color: black;
    padding: 12px;
    text-align: left;
  }
  
  tbody td {
    text-align: left;
    padding: 12px;
    background-color: #FFF8DC;
    border-bottom: 1px solid #F8AB1C;
  }
  
  tbody tr:nth-child(even) {
    background-color: #FFE4B5;
  }
  
  button {
    background-color: var(--color-green);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  button:hover {
    background-color: var(--color-yellow);
  }
  
  tbody td span {
    margin: 0 5px;
  }

  .flexcol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .flexrow{
    display: flex;
    flex-direction: row;
  }

  .test {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 20px 0;
    gap: 30px;
  }

  .container {
    background-color: var(--color-green);
    color: #ecf0f1;
    font-family: var(--oswald-font);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin: auto;
    height: 580px;
}

.header {
    background-color: var(--color-yellow);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-weight: bold;
}

.section {
    padding: 10px 0;
}

.section-title {
    font-size: 1.1em;
    margin-bottom: 5px; 
    padding-left: 10px;
    background-color: #34495e;
    display: inline-block;
}

.row {
    display: flex; 
    justify-content: space-between; 
    padding: 5px 10px; 
}

.button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    display: block;
    font-weight: bold;
    cursor: pointer;
}

.button:not(:last-child) {
    background-color: var(--color-yellow);
}

.spanTitle {
    font-size: 1.2em;
    font-weight: bold;
}


@media screen and (max-width: 920px) {
  .test {
    flex-direction: column;
    align-items: center;
  }

  .infoClient{
    width: 100%;
  }

  .container{
    width: 100%;
  }

  .hideInmobil{
    display: none;
  }

  .table-container{
    min-height: 200px;
  }
  
}