.inputText {
    padding: 8px;
    background-color: var(--color-light-yellow);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 150px;
}

.inputText::placeholder {
    color: black; 
}

.inputText:focus {
    outline: none;
    border-color: var(--color-yellow);
    box-shadow: 0 0 0 1px var(--color-yellow);
}



.inputNumber {
    padding: 8px;
    background-color: var(--color-light-yellow);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 150px;
}



.inputNumber::placeholder {
    color: black;
}

.inputNumber:focus {
    outline: none;
    border-color: var(--color-yellow);
    box-shadow: 0 0 0 1px var(--color-yellow);
}


.select {
    padding: 8px;
    background-color: var(--color-light-yellow);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
}

.select:focus {
    outline: none;
    border-color: var(--color-yellow);
    box-shadow: 0 0 0 1px var(--color-yellow);
}


.inputSubmit {
    padding: 8px 16px;
    background-color: var(--color-yellow);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.inputSubmit:hover, .inputSubmit:focus {
    background-color: var(--color-light-yellow);
    outline: none;
    box-shadow: 0 0 0 2px var(--color-yellow);
    color: black;
}

.labelText{
    font-size: 16px;
    color: white;
    margin: 0 0 5px 0;
}