.navigation{
    background-color: var(--color-green);
    width: 100vw;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
}

.navigation div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.logo{
    width: 119px;
    height: auto;
    margin-right: 24px;
}

.linkList {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.linkList li {
    list-style: none;
    color: white;
    font-family: var(--ninite-font);
    font-size: 95%;
    font-weight: 600;
    margin-bottom: -10px;
    position: relative;
}

.linkList li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px; 
    background: var(--color-light-yellow);
    transition: width 0.1s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
}

.linkList li:hover::after {
    width: 100%;
}

.linkList li:hover {
    color: var(--color-light-yellow);
    cursor: pointer;
}