.title {
    font-size: var(--title-size);
    font-family: var(--oswald-font);
    color: var(--color-green);
    font-weight: var(--title-font-weight);
    margin-top: 20px;
    margin-bottom: 10px;
}